.hd-wrp {
  position: relative;
  height: 50px;
  box-shadow: 0 1px 1px 0 #ddd;
  background: #fff;
  z-index: 999;

  .hd-content {
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .hd-logo-wrp {
      display: inline-block;
      margin-left: 8px;
      text-align: center;
      font-size: 0;

      .hd-logo {
        height: 24px;
        margin-right: 8px;
      }
    }

    .hd-mobile-first-tab {
      font-weight: 600;

      .hd-mobile-second-tab {
        font-weight: 500;
      }

      .hd-mobile-third-tab-title {
        color: #545455;
      }
    }
  }

  .icn-menu {
    width: 36px;
    padding: 0 8px;
  }

  .pop-wrp {
    .pop-header {
      margin: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .pop-hd-logo-wrp {
        display: inline-block;
        text-align: center;
        font-size: 0;
    
        .pop-hd-logo {
          height: 24px;
          margin-right: 8px;
        }
      }
    }

    .link-wrp {
      a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #323233;
      }
    }
  }
}

.hd-user {
  position: relative;
  height: 100%;
  width: 40px;
  margin: 0 60px 0 32px;
  cursor: pointer;

  .hd-user-arw {
    margin: 0 8px;
  }

  .avatar {
    position: absolute;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 0;
    border-radius: 40px;
    transition: all .35s;
    z-index: 9;

    img {
      height: 100%;
      width: 100%;
      border-radius: 40px;
    }
  }

  &:hover {
    .avatar {
      transform: translate(-50%, 70%) scale(2);
    }
  }

  .hd-detail-wrp {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transform: translate3d(-50%, 0, 0);
    margin-left: -22px;
    transition: .35s;
    z-index: 1;

    .hd-detail-panel {
      padding: 0 24px 18px;
      width: 152px;
      border: 1px solid #E3E5E7;
      border-radius: 8px;
      box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      background: #fff;

      .name-wrp {
        padding-top: 32px;
        margin-bottom: 8px;

        .nickname {
          display: flex;
          justify-content: center;
          font-size: 18px;
          font-weight: 500;
          color: rgb(251, 114, 153);
        }
      }

      .hd-detail-item {
        display: flex;
        align-items: center;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
        padding: 10px 14px;
        border-radius: 8px;
        color: #61666D;
        font-size: 14px;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
          background-color: #E3E5E7;
        }

        .link-title {
          display: flex;
          align-items: center;
        }

        .link-icn {
          margin-right: 8px;
        }
      }
    }
  }

  &:hover {
    .hd-detail-wrp {
      max-height: 300px;
      padding-top: 12px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .hd-prj {
    width: 175px;
    margin-right: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .hd-prj {
    width: 120px;
    margin-right: 32px;
  }
}