.hd-wrp {
  position: relative;
  height: 50px;
  box-shadow: 0 1px 1px 0 #ddd;
  background: #fff;
  z-index: 99999;

  .hd-content {
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .hd-logo-wrp {
      display: inline-block;
      margin-left: 8px;
      text-align: center;
      font-size: 0;

      .hd-logo {
        height: 24px;
        margin-right: 8px;
      }
    }
  }

  .icn-menu {
    width: 36px;
    padding: 0 8px;
  }

  .pop-wrp {
    .pop-header {
      margin: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .pop-hd-logo-wrp {
        display: inline-block;
        text-align: center;
        font-size: 0;
    
        .pop-hd-logo {
          height: 24px;
          margin-right: 8px;
        }
      }
    }
  }

  .hd-user {
    position: absolute;
    right: 24px;
    height: 100%;
    margin: 0 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .hd-user-arw {
      margin: 0 3px;
    }
  }

  a {
    text-decoration: none;
    color: #323233;
  }
}

