@import './constant.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: $bg-white-gray;
  background: url(https://s1.hdslb.com/bfs/static/stone-free/dyn-home/assets/background.png) top/cover no-repeat fixed;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

.case-node-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;

  span {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.table-row-selected {
  td {
    color: $bili-blue !important;

    &:first-child {
      border-left: 3px solid $bili-blue;

      * {
        &:first-child {
          transform: translateX(-1px);
        }
      }
    }
  }
}

.n-icon {
  cursor: pointer;
}

.hd-mobile-active-tab {
  background: #e6fcff !important;

  .van-cell {
    background: none;
  }
}

.n-base-selection .n-base-selection-label {
  height: 32px;
}