.hd-wrp {
  position: relative;
  height: 50px;
  box-shadow: 0 1px 1px 0 #ddd;
  background: #fff;
  z-index: 999;

  .hd-content {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .hd-logo-wrp {
      text-align: center;
      font-size: 0;
      margin: 0 100px 0 8px;

      .hd-logo {
        height: 24px;
      }
    }

    .hd-navbar {
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      flex: 1;
      color: $font-gray;

      .hd-nav {
        height: 100%;
        padding: 0 16px;
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 14px;
        cursor: pointer;

        .hd-nav-link {
          height: 100%;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          color: $font-gray;
        }

        .router-link-active {
          color: #1c2438;
        }
      }

      .hd-nav-srvs {
        &:hover, &:active {
          .hd-subnav-wrp {
            height: 350px;
          }
        }

        .hd-subnav-wrp {
          position: fixed;
          top: 51px;
          left: 0;
          width: 100vw;
          min-width: 1200px;
          height: 0;
          display: flex;
          justify-content: center;
          overflow: hidden;
          color: #a5a5a5;
          background: rgba(32, 42, 54, 0.9);
          transition: height .25s ease;

          .hd-subnav-content {
            width: 1200px;
            height: 310px;
            padding: 20px 0;
            display: flex;

            .subnav-itm {
              flex: 1;

              .subnav-name {
                padding: 10px;
                line-height: 24px;
                font-size: 14px;
                text-align: left;
                color: #D7DDE4;
              }

              &:hover {
                .subnav-name {
                  color: #fff;
                  text-shadow: 0 5px 10px #65aeff;
                }
              }

              .subsrv-wrp {
                padding: 8px 16px;
                height: 240px;
                border-top: 1px solid transparent;
                border-left: 1px solid transparent;
                border-image: linear-gradient(to top, rgba(32, 42, 54, 0.01), #545c6e) 1 10;

                .subsrv {
                  padding-bottom: 2px;
                  line-height: 24px;
                  font-size: 12px;
                  text-align: left;
                  color: #80848F;
                  transition: all 0.2s;

                  .srv-name {
                    text-decoration: none;
                    color: #80848f;
                  }
                }

                &:hover {
                  padding-top: 10px;

                  .subsrv {
                    padding-bottom: 8px;
                  }

                  .subsrv-active {
                    .srv-name {
                      color: #f5f7f9;
                    }
                  }
                }

                .subsrv-active {
                  .srv-name {
                    color: #B7BDC4;
                  }

                  &:hover {
                    cursor: pointer;
                    color: #f5f7f9;
                    text-shadow: 0 6px 10px #4ca0ff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.hd-prj {
  width: 175px;
  margin-right: 32px;
}

.hd-user {
  position: relative; 
  height: 100%;
  width: 40px;
  margin: 0 60px 0 32px;
  cursor: pointer;

  .hd-user-arw {
    margin: 0 8px;
  }

  .avatar {
    position: absolute;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 0;
    border-radius: 40px;
    transition: all .35s;
    z-index: 9;

    img {
      height: 100%;
      width: 100%;
      border-radius: 40px;
    }
  }

  &:hover {
    .avatar {
      transform: translate(-50%, 70%) scale(2);
    }
  }

  .hd-detail-wrp {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transform: translate3d(-50%, 0, 0);
    margin-left: -22px;
    transition: .35s;
    z-index: 1;

    .hd-detail-panel {
      padding: 0 24px 18px;
      width: 152px;
      border: 1px solid #E3E5E7;
      border-radius: 8px;
      box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      background: #fff;

      .name-wrp {
        padding-top: 32px;
        margin-bottom: 8px;

        .nickname {
          display: flex;
          justify-content: center;
          font-size: 18px;
          font-weight: 500;
          color: rgb(251, 114, 153);
        }
      }

      .hd-detail-item {
        display: flex;
        align-items: center;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
        padding: 10px 14px;
        border-radius: 8px;
        color: #61666D;
        font-size: 14px;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
          background-color: #E3E5E7;
        }

        .link-title {
          display: flex;
          align-items: center;
        }

        .link-icn {
          margin-right: 8px;
        }
      }
    }
  }

  &:hover {
    .hd-detail-wrp {
      max-height: 300px;
      padding-top: 12px;
    }
  }
}